PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://shrutigaud3_db_user:shruti_123@cluster0.8gzpivv.mongodb.net/?NatureX=Cluster0
JWT_SECRET=naturex_jwt_secret_key_change_in_production
JWT_EXPIRES_IN=7d
CORS_ORIGIN=*
